a.but {
    background: #f2f1ed;
    padding: 15px 35px;
    color: #4b535d;
}
a {
    text-decoration: none;
    color: #4b535d;
}
ul {
    display: flex;
}
#ul1 {
    left: 50px;
    top: 30px;
    position: absolute;
}
nav ul li {
    display: inline-block;
    margin-right: 1px;
}
a.but:hover {
    color: orange;
    border-bottom: 2px solid orange;
}
#active {
    border-bottom: 2px solid orange;
    background: #f2f1ed;
    padding: 15px 35px;
    color: #4b535d;
}
