body {
    color:aliceblue;
}
.name {
    grid-area: name;
}
.abilities {
    grid-area: abilities;
}
.img {
    grid-area: img;
}
.description {
    grid-area: description;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'name name name name name name'
    'description description description description img img '
    'abilities abilities abilities abilities img img';
  grid-gap: 10px;
 background: #334768;
  padding: 10px;
}

.grid-container div {
  background: #2f4362;
  text-align: center;
  font-size: 30px;
}
.img img {
    width: 100%;
}
