body {
    margin: 0;
    padding: 0;
}
header {
    background: red;
    border: 1px solid black;
    text-align: center;
}
nav {
    background-color: aqua;
}
section {
    background: blue;
    border: 1px solid black;
    display: inline-block;
    width: 70%;
    text-align: center;
}
aside {
    background: yellow;
    border: 1px solid black;
    display: inline-block;
    width: 29%;
    text-align: center;
    vertical-align:top;
}
footer {
    background: lime;
    border: 1px solid black;
    text-align: center;

}

