body {
    margin: 0;
    padding: 0;
	background: #d1e0ff;          	 	
	
}
header {
    background: orange;
    border: 1px solid black;
	font-size: 75px;
	text-shadow: 1px 1px 2px black;
	color:white;
}
nav {
    background-color: aqua;
}
section {
    background: blue;
    border: 1px solid black;
    display: inline-block;
    width: 70%;
    text-align: center;
	padding: 2px;
	font-size: 50px;
}
aside {
    background: yellow;
    border: 1px solid black;
    display: inline-block;
    width: 29%;
    text-align: center;
    vertical-align: top;
	padding: 2px;
}
footer {
    background: lime;
    border: 1px solid black;
    text-align: center;

}
#logo {
	width: 200px;
	position: relative;
	top:15px;
}
#logo:hover {
	width: 250px;
	height: 250px;
}
