nav ul {
    background: pink;
    margin: 0;
    padding: 0;
}
nav ul li {
    border: 1px solid black;
    display: inline-block;
    width 20%
    text-align:right;
    color: beige;

}
nav ul li a {
    color: beige;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    padding: 5px;

}
nav ul li a:hover {
    color: red;
}
